<app>
  <search>
    <form>
      <input id="query" type="text" autocomplete="off" placeholder="search something..." />
    </form>
    <clean><%= link_to('Clean analytics', searches_clean_path) %></clean>
  </search>

  <queries>
    <%= render @queries %>
  </queries>
</app>
