<app>
  <search>
    <form>
      <input id="query" type="text" placeholder="search something..." />
    </form>
    <%= link_to('<clean>Clean analytics</clean>'.html_safe, searches_clean_path) %>
  </search>

  <queries>
    <%= render @queries %>
  </queries>
</app>
